button {
    background-color: lightsalmon;
    padding: 20px;
    margin: 10px;
}

container {
    
}

body {
    text-align: center;
    background-color: lightyellow;
}

div {
    padding: 20px;
    outline-style: groove;
    margin: auto;
    width: 300px;
}